<div class="row">
  <div class="columns small-9 small-centered columns">
    <h2 class="columns small-9 small-centered columns">Búsqueda de bienes</h2>
    <form>

      <div class="row">
        <div class="small-5 columns">
          <label for="" class="middle">Nombre del propietario:</label>
        </div>
        <div class="small-7 columns">
          <textarea name="textarea" rows="2" cols="50" placeholder="Nombre completo del propietario"></textarea>
        </div>
      </div>

      <div class="row">
        <div class="small-5 columns">
          <label for="" class="middle">Datos del predio:</label>
        </div>
        <div class="small-7 columns">
          <textarea name="textarea" rows="4" cols="50" placeholder="Datos del predio"></textarea>
        </div>
      </div>

      <div class="row">
        <div class="small-5 columns">
          <label for="Municipality" class="middle">Municipio:</label>
        </div>
        <div class="small-7 columns">
          <select #selectBox (change)="setMunicipalityInitialValues(selectBox.value)">
            <option value="{{00}}">Municipio</option>
            <option value="{{01}}">Apizaco</option>
            <option value="{{02}}">Ixtacuixtla</option>
            <option value="{{03}}">Teolocholco</option>
          </select>
        </div>
      </div>
      <div>
        <div class="small-12 columns">
          <a class="medium success button float-left" routerLink="">Regresar</a>
          <a routerLink="/PaymentOrder" class="medium success button float-right">Siguiente paso</a>
        </div>
      </div>
    </form>

  </div>
</div>

<div class="row small-collapse contenedor-transparencia" *ngIf="certificateRequests.length !== 0">
  <div class="columns small-12 small-centered">
    <div class="row small-collapse" *ngFor="let documentItem of certificateRequests.body.data">

      <div *ngIf="documentItem.style === 'new-section'">
        <div class="columns medium-12 large-10 small-centered">
          <div>&nbsp;</div>
          <div class="new-section">{{documentItem.name}}</div>
        </div>
      </div>

      <div *ngIf="documentItem.style !== 'new-section'">
        <div class="columns hide-for-medium">
          <label class='small-label'>{{documentItem.name}}</label>
        </div>
        <div class="columns medium-3 large-2 large-offset-1 show-for-medium">
          <label class='left-indented'>{{documentItem.name}}:</label>
        </div>
        <div class="columns medium-9 large-8 large-pull-1">
          <div [ngClass]="'label-value ' + documentItem.style" [innerHtml]='documentItem.value'></div>
        </div>
      </div>
    </div>
  </div>
</div>