<header class='header_desarrollo text-center'>
  <img  class='header_desarrollo' src="assets/img/customer-logo.png" alt='Construir y crecer juntos' />
</header>
<div class="menu_prin_vc text-center">
  <span class="titulo_principal show-for-medium">Dirección de Notarías y Registros Públicos</span>
  <span class="titulo_principal hide-for-medium">Registro Público</span>
</div>

<div class='show-for-medium'>
  &nbsp;
</div>

<div   class="columns large-11 large-centered columns" align="center" >
  <ul class="menu" >  
    <li>
      <a class="selected " routerLink="/RequestCertificate" >Certificados</a>
      <a class="fa fa-file-pdf-o fa-5x" routerLink="/RequestCertificate" aria-hidden="true"></a>
    </li>
    <li>
      <a class="selected" routerLink="/RequestDocumentCopy" >Copias Certificadas</a>
      <a class="fa fa-clone fa-5x" routerLink="/RequestDocumentCopy" aria-hidden="true"></a>
    </li>  
    <li>
      <a class="selected" routerLink="/SearchProperties" >Busqueda de Bienes</a>
      <a class="fa fa-search fa-5x" routerLink="/SearchProperties" aria-hidden="true"></a>
    </li>
  </ul>
</div>
    <br>
    <br>
<div   class="columns large-11 large-centered columns ">
    <ul class="menu" >  
    <p>Otros Servicios</p>
    <li>
      <a href="https://registropublico.tlaxcala.gob.mx/consultas/" class="fa fa-check-square-o" target="_blank">  Validación de Documentos</a>
    </li>
    <br>
    <li><a href="http://cfdingresos.finanzastlax.gob.mx" class="fa fa-file-text" target="_blank">  Comprobante Fiscal Digital</a></li>
    <!--
    <li><a class="selected" routerLink="/VerifyDocument">Validación de Documentos</a></li>
    -->
  </ul>
</div>

<br>
<br>


<div class="columns small-6">
  <a href="http://www.tlaxcala.gob.mx/" target="_blank">
    <img alt="" title="Secretaría de Gobierno del Estado de Tlaxcala" src="./assets/img/customer-secondary-logo.png">
  </a>
</div>
<div class="columns small-6 text-right">
  <a href="http://contraloria.tlaxcala.gob.mx/pdf/contenidob1.pdf" target="_blank">
    <img alt="" title="Honestidad Tlaxcala" src="./assets/img/customer-honestidad-logo.jpg">
  </a>
</div>


<div class="show-for-medium copyright">
  © 2018. Dirección de Notarías y Registros Públicos. Secretaría de Gobierno del Estado de Tlaxcala.
</div>
<div class="hide-for-medium copyright">
  © Secretaría de Gobierno del Estado de Tlaxcala.
</div>