<header class='header_desarrollo text-center'>
  <img class='header_desarrollo' src="assets/img/customer-logo.png" alt='Construir y crecer juntos' />
</header>
<div class="menu_prin_vc text-center">
  <span class="titulo_principal show-for-medium">Dirección de Notarías y Registros Públicos</span>
  <span class="titulo_principal hide-for-medium">Registro Público</span>
</div>

<div class='show-for-medium'>
  &nbsp;
</div>


<div class="columns small-9 small-centered columns">
  <ul class="menu" >
    <li><a class="selected " routerLink="/RequestCertificate">Certificados</a></li>
    <li><a class="selected" routerLink="/RequestDocumentCopy">Copias Certificadas</a></li>  
    <li><a class="selected" routerLink="/VerifyDocument">Validación de Documentos</a></li>
    <li><a class="selected" routerLink="/VerifyDocument">Generacion de Folio Real</a></li>
    
  </ul>
</div>
