<div class="row">
  <div class="columns small-9 small-centered columns">
    <h2 class="columns small-9 small-centered columns">Solicitud de Certificados en Línea</h2>
    <form>
      <div class="row">
        <div class="small-5 columns">
          <label for="generalRequest.CertificateType" class="middle">¿Qué tipo de certificado solicita?</label>
        </div>
        <div class="small-7 columns">
          <select #selectBox (change)="setCertificateTypeInitialValues(selectBox.value)">
            <option value="{{CertificateType.empty}}">(Tipo de Certificado)</option>
            <option value="{{CertificateType.property}}">Propiedad</option>
            <option value="{{CertificateType.inscription}}">Inscripción</option>
            <option value="{{CertificateType.gravament}}">Libertad de gravamen / Gravamen</option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="small-5 columns">
          <label for="" class="middle">Folio real del predio:</label>
        </div>
        <div class="small-5 columns">
          <input type="text" value="" placeholder="Folio real" (input)="realPropertyUID=$event.target.value.toUpperCase()">
        </div>
        <div class="small-2 columns">
          <a class="medium success button" (click)="searchProperty(realPropertyUID)"> Buscar</a>
          <br/>
        </div>
      </div>
      <div class="row">
        <div class="small-9 columns">
          <p>
            <a href="#">¿Qué es el folio real?</a>
          </p>
        </div>
      </div>
      
      <div class="small-12 columns">
        <a class="medium success button float-left" routerLink="">Regresar</a>
        <a routerLink="/PaymentOrder" class="medium success button float-right">Siguiente paso</a>
      </div>
              
    </form>
  </div>
</div>

<div *ngIf="certificateRequests.length !== 0" align="center">
  <button (click)="show = !show">Ver Información del Predio</button>
</div>
<div *ngIf="show">
  <div class="row small-collapse contenedor-transparencia" *ngIf="certificateRequests.length !== 0">
    <div class="columns small-12 small-centered">
      <div class="row small-collapse" *ngFor="let documentItem of certificateRequests.body.data">

        <div *ngIf="documentItem.style === 'new-section'">
          <div class="columns medium-12 large-10 small-centered">
            <div>&nbsp;</div>
            <div class="new-section">{{documentItem.name}}</div>
          </div>
        </div>

        <div *ngIf="documentItem.style !== 'new-section'">
          <div class="columns hide-for-medium">
            <label class='small-label'>{{documentItem.name}}</label>
          </div>
          <div class="columns medium-3 large-2 large-offset-1 show-for-medium">
            <label class='left-indented'>{{documentItem.name}}:</label>
          </div>
          <div class="columns medium-9 large-8 large-pull-1">
            <div [ngClass]="'label-value ' + documentItem.style" [innerHtml]='documentItem.value'></div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>