<header class='header_desarrollo text-center'>
  <img class='header_desarrollo' src="assets/img/customer-logo.png" alt='Construir y crecer juntos' />
</header>
<div class="menu_prin_vc text-center">
  <span class="titulo_principal show-for-medium">Dirección de Notarías y Registros Públicos</span>
  <span class="titulo_principal hide-for-medium">Registro Público</span>
</div>

<div class='show-for-medium'>
  &nbsp;
</div>

<br>
<br>
<div class="row">
    <div class="columns small-10 small-centered columns">
        <h2 class="columns small-10 small-centered columns">Servicio de envio de copias certificadas</h2>
<form>
  <div class="row">
    <div class="small-10  small-centered columns">
      <label clas="columns small-10 small-centered columns">¿Como desea obtener sus copias certificadas?</label>
 
      <select #selectBox (change)="setDocumentItemInitialValues(selectBox.value)">
        <option value="{{DocumentItemType.empty}}">(Selecciona una opción...)</option>
        <option value="{{DocumentItemType.transaction}}">Via Boleta de trámite</option>
        <option value="{{DocumentItemType.document}}">Via Documento electrónico</option>
      </select>
    </div>
  </div>
  
  <div [ngSwitch]="selectedDocumentItemType">
    <div *ngSwitchCase="DocumentItemType.transaction">
      <div class="row">
        <div class="small-3 columns">
          <label class="middle">Boleta de Tramite:</label>
        </div>
        <div class="small-5 columns">
           <input type="text" placeholder="TL3JEMPL023T-N" maxlength="17"
            (input)="itemUID=$event.target.value.toUpperCase()"
            value="{{itemUID}}"
           >
        </div>
        <div class="small-2 columns">
          <a class="medium success button" (click)="searchFiling(itemUID)"> Buscar</a><br/>
      </div>
      </div>
      <div class="row">
        <div class="small-3 columns">
          <label class="middle">Enviar a la cuenta:</label>
        </div>
        <div class="small-5 columns">
          <input type="email" placeholder="ejemplo@mail.com.mx"
            (input)="email=$event.target.value">
        </div>
        <div class="small-2 columns">
          <a class="" > </a><br/>
      </div>
      </div>
      <div class="row">
        <div class="small-3 columns">
          <p class="row"><a href="http://www.ontica.org/land/">Deseo usar otra cuenta</a></p>
        </div>
        <div class="small-5 columns">
          <a class="medium success button float-right" (click)="requestDocumentCopy()">Solicitar boleta</a>
        </div>
      </div>
    </div>
   
    <div *ngSwitchCase="DocumentItemType.document">
      <div class="row">
        <div class="small-3 columns">
          <label class="middle">Documento electrónico:</label>
        </div>
        <div class="small-5 columns">
          <input type="text" placeholder="RPEJEM-PLO011-RB58N3" maxlength="20"
            (input)="itemUID=$event.target.value.toUpperCase()"
            value="{{itemUID}}"
          >
        </div>
        <div class="small-2 columns">
          <a class="medium success button" (click)="searchDocument(itemUID)"> Buscar</a><br/>
      </div>
      </div>
      <div class="row">
        <div class="small-3 columns">
          <label class="middle">Enviar a la cuenta:</label>
        </div>
        <div class="small-5 columns">
          <input type="email" placeholder="ejemplo@mail.com.mx"
           (input)="email=$event.target.value">
        </div>
        <div class="small-2 columns">
          <a class="" > </a><br/>
      </div>
      </div>
      <div class="row">
        <div class="small-3 columns">
          <p class="row"><a href="http://www.ontica.org/land/">Deseo usar otra cuenta</a></p>
        </div>
        <div class="small-5 columns">
          <a class="medium success button float-right" (click)="requestDocumentCopy()">Solicitar documento</a>
        </div>
      </div>
    </div>
    <div *ngSwitchDefault>
    </div>
  </div>

</form>
<div class="small-9  small-centered columns">
  <p>El sistema le enviará un correo electrónico a la cuenta de correo con una copia.</p>
</div>
<div>
  <div class="small-9 small-centered columns">
      <a class="medium success button float-left" routerLink="/">Regresar</a>

  </div>
</div>
</div>
</div>
<!--<message-box></message-box>-->

<div *ngIf="document.length !== 0 || hasError">&nbsp;</div>

<div class="row small-collapse contenedor-transparencia" *ngIf="document.length !== 0">
	<div class="columns small-12 small-centered">
		<div class="row small-collapse" *ngFor="let documentItem of document">

			<div *ngIf="documentItem.style === 'new-section'">
				<div class="columns medium-12 large-10 small-centered">
					<div>&nbsp;</div>
					<div class="new-section">{{documentItem.name}}</div>
				</div>
			</div>

			<div *ngIf="documentItem.style !== 'new-section'">
				<div class="columns hide-for-medium">
					<label class='small-label'>{{documentItem.name}}</label>
				</div>
				<div class="columns medium-3 large-2 large-offset-1 show-for-medium">
					<label class='left-indented'>{{documentItem.name}}:</label>
				</div>
				<div class="columns medium-9 large-8 large-pull-1">
					<div [ngClass]="'label-value ' + documentItem.style" [innerHtml]='documentItem.value'></div>
				</div>
			</div>
		</div>
	</div>
</div>